body {
    width: 100vw;
    min-width: 400px;
    margin: 0 auto;
}

header {
    margin-top: 8px;
}

.img-mail {
    width: 40px;
    margin: 15px;
}

.mymail,
.user {
    display: inline-flex;
    align-items: center;
}

.user {
    float: right;
}

.container {
    display: flex;
    gap: 20px;
    /* Задаем промежуток между блоками */
}

/* ----блок 1 меню------ */

.menu {
    width: 200px;
    list-style-type: none;
    padding-left: 8px;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 5px 60px 5px 0;
    /* border-bottom: 1px solid #686565; разделение меню*/
    padding-right: 60px;
}

.img-icon {
    padding: 0 15px;
}

/*----------блок 2 письма----------------*/

.img-star,
.img-attach {
    width: 20px;
    padding: 0 15px 0 15px;
}

.emails {
    max-width: 1284px;
    /* flex-grow:1; */
    padding: 18px 0 0 8px;
}

ul.emails {
    margin: 0;
    padding: 0;
}

.emails-item {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
    border-bottom: 1px solid #aba6a6;
}

.user-send {
    max-width: 1130px;
    display: flex;
    flex-grow: 1;
}

.user-us {
    min-width: 180px;
    padding-right: 15px;
    white-space: nowrap;
}

.send {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.text-emails {
    color: #aba6a6;
    padding-left: 10px;
    white-space: nowrap;
    /* Запрещает перенос текста */
    overflow: hidden;
    /* Скрывает переполнение */
    text-overflow: ellipsis;
    /* Добавляет многоточие в конце обрезанного текста */
    text-align: inherit;
}

.attach-date {
    display: inline-flex;
}

.date {
    width: 50px;
    text-align: right;
    word-spacing: nowrap;
    flex-shrink: 0;
    /* предотвращает уменьшение размера */
}

.text::before {
    content: "- ";
}

.menu-item:hover {
    background-color: #f1c9d6;
}

@media screen and (min-width:801px) {
    .emails {
        min-width: 55%;
    }

    .user-send {
        width: 50%;
    }
}

@media screen and (min-width: 550px) and (max-width: 800px) {
    .container {
        min-width: 65%;
    }

    .user-send {
        display: inline-block;
    }

    .text::before {
        content: none;
    }

    .text-emails {
        width: 100%;
        padding: 0;
    }

    .emails {
        min-width: 55%;
    }

    .user-send {
        width: 50%;
    }
}

@media screen and (max-width: 550px) {
    /*----1----*/

    .menu {
        max-width: 60px;
        list-style-type: none;
        padding-left: 8px;
        overflow: hidden;
        /* Скрывает переполнение */
    }
    .menu-item {
        display: flex;
        align-items: center;
        padding: 5px 60px 5px 0;
        /* border-bottom: 1px solid #686565; разделение меню*/
        padding-right: 60px;
    }
    .img-icon {
        padding: 0 10px;
    }

    /*----2----*/
    .container {
        min-width: 65%;
    }

    .user-send {
        display: inline-block;
    }

    .text::before {
        content: none;
    }

    .text-emails {
        width: 100%;
        padding: 0;
    }

    .emails {
        min-width: 55%;
    }

    .user-send {
        width: 50%;
    }

}